Mihir Kshirsagar (msk9917)

Display Fibonacci Series upto 10 terms

In [ ]:
n = 10
sum = 0
i = 0
fiblist = [0,1]
while i < (n-2):
  sum = fiblist[i] + fiblist[i+1]
  fiblist.append(sum)
  i+=1
print (fiblist)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Display numbers at the odd indices of a list

In [91]:
i = 1
list = ["h", "e", "l", "l", "o", "t", "h", "e", "r", "e"]
while i < len(list):
  print (list[i], end = " ")
  i += 2

e l t e e

Print a list in reverse order

In [ ]:
i=0
list = ["h", "e", "l", "l", "o", "t", "h", "e", "r", "e"]
print (list[::-1])

['e', 'r', 'e', 'h', 't', 'o', 'l', 'l', 'e', 'h']

Your task is to count the number of different words in this text

In [30]:
string = """
ChatGPT has created this text to provide tips on creating interesting paragraphs.
First, start with a clear topic sentence that introduces the main idea.
Then, support the topic sentence with specific details, examples, and evidence.
Vary the sentence length and structure to keep the reader engaged.
Finally, end with a strong concluding sentence that summarizes the main points.
Remember, practice makes perfect!
"""
def remove_punctuation(string):
    punctuation_chars = ".,!?;:-\"'()[]{}"
    for char in punctuation_chars:
        string = string.replace(char, "")
    return string
string = remove_punctuation(string)
words = string.split(" ")
words_lower = [word.lower() for word in words]
unique_words = set(words_lower)
word_count = len(unique_words)
print(word_count)

47

Write a function that takes a word as an argument and returns the number of vowels in the word

In [3]:
vowels = "AEIOUaeiou"
vowel = []
for i in vowels:
  vowel.append(i)
words = "hello"
word = []
for i in words:
  word.append(i)
def counting_vowels(word):
  vowelcount = 0
  for char in word:
    for v in vowel:
      if v==char:
        vowelcount += 1
  return vowelcount
result = counting_vowels(word)
print(result)

2

Iterate through the following list of animals and print each one in all caps.

In [5]:
animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']
animalsuppercase = []
for animal in animals:
  animalsuppercase.append(animal.upper())
print(animalsuppercase)

['TIGER', 'ELEPHANT', 'MONKEY', 'ZEBRA', 'PANTHER']

Iterate from 1 to 15, printing whether the number is odd or even

In [12]:
i = 1
n = 15
list = []
for i in range(1,n+1,1):
  if i%2 == 0:
    print("number {} is even".format(i))
  else:
    print("number {} is odd".format(i))

number 1 is odd
number 2 is even
number 3 is odd
number 4 is even
number 5 is odd
number 6 is even
number 7 is odd
number 8 is even
number 9 is odd
number 10 is even
number 11 is odd
number 12 is even
number 13 is odd
number 14 is even
number 15 is odd

Take two integers as input from user and return the sum

In [15]:
num1 = int(input("enter first number "))
num2 = int(input("enter second number "))
sum = num1 + num2
print(sum)

enter first number 34
enter second number 78
112